<div class="container-fluid">

    <div class="row-fluid">

        <!-- content area -->
        <div class="span9 content">

            <div class="row-fluid">

                <!-- left side -->
                <div class="span6 placeholder"></div>

                <!-- right side -->
                <div class="span6 placeholder"></div>

            </div>

        </div>

        <!-- editors area -->
        <div class="span3 editors">

            <div class="wrapper">
                <!-- editors goes here -->
            </div>

        </div>

    </div>

</div>

<button class="btn" id="getData">get data</button>
