<div class="container-fluid layout easeinout">

    <div class="row-fluid">
        <div class="placeholder">
            <header class="jumbotron subhead module">

                <div class="container ">
                    <h1>Components</h1>
                    <p class="lead">Dozens of reusable components built to provide navigation, alerts, popovers, and more.</p>
                </div>

            </header>
        </div>
    </div>

    <div class="row-fluid">

        <!-- content area -->
        <div class="span9 content">

            <div class="row-fluid">

                <!-- left side -->
                <div class="span6 placeholder well well-small"></div>

                <!-- right side -->
                <div class="span6 placeholder well well-small"></div>

            </div>

             <div class="row-fluid">

                <!-- left side -->
                <div class="span6 placeholder"></div>

                <!-- right side -->
                <div class="span6 placeholder"></div>

            </div>

        </div>

        <!-- editors area -->
        <div class="span3 editors">

            <div class="wrapper">
                <!-- left side -->
                <div class="placeholder"></div>
            </div>

        </div>

    </div>

</div>

<button class="btn" id="getData">get data</button>
